<div *ngIf="apartment; else responseMsg">
  <h2 class="page-header">{{apartment.town}}
    <a class="btn btn-info float-right" routerLink="/apartments">Back to list</a>
  </h2>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <img class="img-fluid center-block" src="{{ apartment.photo?apartment.photo:'assets/images/no_image.png' }}" alt=""/>
      </div>

      <div class="page-header"><strong>Date available</strong></div>
      <p>{{ apartment.move_in_date | date }}</p>

      <div class="page-header"><strong>Details</strong></div>
      <p>{{ apartment.description }}</p>

      <div class="page-header"><strong>Location</strong></div>
      {{ apartment.street }}, {{ apartment.town }}, {{apartment.country}},
      {{apartment.postcode}}
      <div class="page-header"><strong>In Map</strong></div>
      <div id="map" style="width:100%; height:400px;"></div>
      <br>

    </div>
</div>
</div>


<ng-template #responseMsg>
  <h2 class="page-header"></h2>

  <div *ngIf="responseMessage">
  <p class="alert " [ngClass]="(responseMessage.status=='200')?'alert-success':'alert-danger'" *ngIf="responseMessage">
    {{ responseMessage.status }} - {{ responseMessage.message }}
  </p>
  </div>
  <a class="btn btn-dark" routerLink="/apartments"> Back </a>
</ng-template>

  <script>
    function myMap() {
      var lat = '';
      var lon = '';
      var address = "{{ apartment.postcode }}"+","+"{{ apartment.town }}";

      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({ 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          lat = results[0].geometry.viewport.b.b;
          lon = results[0].geometry.viewport.f.f;

          var city = new google.maps.LatLng(lon, lat);
          var mapCanvas = document.getElementById("map");
          var mapOptions = {center: city, zoom: 15};
          var map = new google.maps.Map(mapCanvas,mapOptions);

          var myCity = new google.maps.Circle({
            center: city,
            radius: 300,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "#0000FF",
            fillOpacity: 0.4
          });
          myCity.setMap(map);

        }
        else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2PAOhVoUW5COdBxDqy7Qb_3aKQxzoT1A&callback=myMap"></script>
