/* You can add global styles to this file, and also import other style files */

body{
  padding-top: 50px;
}

.starter-template{
  padding: 40px 15px;
  text-align: center;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.bottom-buffer { margin-bottom:20px; }
